.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.lintFiles
tsconfig.app.tsbuildinfo

node_modules
dist
build
dist-ssr
*.local
.lintFiles
.serverless
tsconfig.tsbuildinfo

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.main
.env.demo
.env.production

apps/backend/secrets/
